PORT=8000

CROO_API_URL=https://api.croo.network
CROO_WS_URL=wss://api.croo.network/ws

CROO_SDK_KEY=YOUR_SENTINELX_PROVIDER_KEY
CROO_API_KEY=YOUR_SENTINELX_PROVIDER_KEY

ALPHASWAP_SDK_KEY=YOUR_ALPHASWAP_REQUESTER_KEY

CROO_TARGET_SERVICE_ID=YOUR_SENTINELX_SERVICE_ID
CROO_SERVICE_ID=YOUR_SENTINX_SERVICE_ID

CROO_AGENT_WALLET=YOUR_SENTINELX_PROVIDER_WALLET

DEMO_WALLET_ADDRESS=0x08e391A5ea432DB8a38d4a3155fF386146cE6c94
DEMO_TOKEN=BNB
DEMO_CHAIN=BSC
