node_modules/
.env
screenshots/
.env.*
!.env.example
.DS_Store
npm-debug.log*
data/*.json
backup-working/
*.backup*
*.Zone.Identifier
*.backup*
*.bak
latestReport.json
orderHistory.json
paymentFlowState.json



README_*_FIX.md
README_*_UPDATE.md
README_FINAL.md
README_AMOUNT_FIX.md
README_DESTINATION*.md
README_HONEYPOT*.md
README_TX_HASH*.md
README_WETH*.md
public/latestReport.json
public/orderHistory.json
public/paymentFlowState.json
